
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.chat
{
  background-color: #00c4ff;
  border-radius: 5px;
  padding: 10px;
  color: #292424;
}

.foregin {
  background-color: #458396 !important;
  color: #fff !important;
}

.chat-container
{
  max-height: 500px;
  overflow-x: hidden !important;
}

.friend-list
{
  padding: 0px !important;
  background-color: #009ba1;

}

.list-group-item
{
  border-radius: 0px !important;
}

.list-group-item:hover{
  background-color: #f0f0f0;
  cursor: pointer;
}

.card-body
{
  margin-top:0px !important;
  padding: 14px !important;
    padding-top:0px !important;

}

.onlineBadge
{
  color: green;
}

.offlineBadge
{
  color: grey;
}

.chatInput
{
  margin-top: 20px;
  height: 20px;
}

.fa, .fa-smile{
  margin-left: 10px;
}

.fa-smile
{
  color: #009ba1;
  margin-top: 29px;
}

.fa-telegram-plane
{
  color: #009ba1;
  margin-top: 29px;
}

.chat-icon
{
  padding-left: 0px;
}

.chat-container::-webkit-scrollbar {
  width: 1em;
}

.chat-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
}

.chat-container::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: 0px solid slategrey;
}